<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHDk_64-ex1OGsNerbTZ7pbDq5z2lRRD4&callback=initMap"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script>
    var doc=document.getElementsByName("usa_jobs");
    var github=document.getElementsByName("github_jobs");
    for(var i=0;i<doc.length;i++)
        doc[i].childNodes[0].innerHTML=String(doc[i].childNodes[0].innerHTML).substring(0,500)+"......";
    for(var i=0;i<github.length;i++)
        github[i].childNodes[0].innerHTML=String(github[i].childNodes[0].textContent).substring(0,300)+"......";
    var latt=30.266483 ;
    var long=-97.74176;
    var company="No Company"
    function showMap(element){
       latt=parseFloat(element.getAttribute("latitude"));
       long=parseFloat(element.getAttribute("longitude"));
       company=element.getAttribute('company');
       initMap();
    }
    function initMap() {                
     
      var map = new google.maps.Map(document.getElementById('showMap'), {
        center: {lat:latt,lng:long},
        scrollwheel: false,
        zoom: 9
      });
        var infowindow = new google.maps.InfoWindow({
          content: "<h4>"+company+"</h4>"
        });
    var marker = new google.maps.Marker({
          position: {lat:latt,lng:long},
          map: map,
          title: company
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
    
   
         $("#mapModal").on("shown.bs.modal", function () {
            google.maps.event.trigger(map, "resize");
             map.setCenter(marker.getPosition());
        });
    }
    $('[data-toggle="tooltip"]').tooltip();
    $(".dropdown-menu li a").click(function(){
        var span="<span class='caret'></span>"
        $(".country").html($(this).text()+span);
   });
    $("#search").on("click",function(){
        var keyword=$("#keyword").val();
        var location=$("#location").val();
        var country=$(".country").text();
       window.location="/search?keyword="+keyword+"&location="+location+"&country="+country;    
    });
</script>
<script>
$(function () {
    Highcharts.chart('container1', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Java Jobs posted'
        },
        xAxis: {
            categories: ['Indeed', 'Usajobs', 'Neuvoo', 'Github']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'No of job postings'
            }
        },
        legend: {
            reversed: true
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: [{
            name: 'US&Canada',
            data: [<%=jobs%>,<%=usa_jobs%>,<%=neuvoo_jobs%>,<%=github_jobs%>]
        }]
    });
});
$(function () {
    Highcharts.chart('container2', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'C++ jobs posted'
        },
        xAxis: {
            categories: ['Indeed', 'Usajobs', 'Neuvoo', 'Github']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'No of job postings'
            }
        },
        legend: {
            reversed: true
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: [{
            name: 'US&Canada',
            data: [108722,3112,335498,41]
        }]
    });
});
    $(function () {
    Highcharts.chart('container3', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'C# jobs posted'
        },
        xAxis: {
            categories:  ['Indeed', 'Usajobs', 'Neuvoo', 'Github']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'No of postings'
            }
        },
        legend: {
            reversed: true
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: [{
            name: 'US&Canada',
            data: [336047,3114,108727,41]
        }]
    });
});
    $(function () {
    Highcharts.chart('container4', {
        chart: {
            type: 'bar'
        },
        title: {
            text: ' Python jobs posted'
        },
        xAxis: {
            categories: ['Indeed', 'Usajobs', 'Neuvoo', 'Github']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'No of postings'
            }
        },
        legend: {
            reversed: true
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: [{
            name: 'US&Canada',
            data: [35615,31,2842,12]
        }]
    });
});

</script>