<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Job Api</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
    .searchbox {padding-top:0.8%;}
</style>
