<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

</style>


</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div id="container1"  class="col-md-6"></div>
            <div id="container2" class="col-md-6"></div>      
            <div id="container3" class="col-md-6"></div>
            <div id="container4" class="col-md-6"></div>
            <div id="container5" class="col-md-6"></div>
        </div>
     
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>